a, ul, ol {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: unset;
    text-decoration: none;
    vertical-align: baseline;
    color: rgba(0, 0, 0, 0.37);
    list-style: none;
}

body {
    background: url("../images/concrete_seamless.png");
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-color: #fff8f8f6;
    border-width: 0px 0px 1px 0px;
    border-bottom-style: outset;
    height: 74px;
    margin-bottom: 30px;
}

.nav-container {
    width: 960px;
    margin: 0 auto;
}

#name {
    padding: 12px 30px 12px 30px;
    background-color: #4aaaa5;
    color: white;
    float: left;
    line-height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}

#about {
    color: #777777;
    float: right;
    font-size: 30px;
    line-height: 50px;
    padding: 0px 20px 0px 20px;
    border-width: 0px;
    /*     border-right-width: 1px; */
    border-style: groove;
    margin-top: 12px;
    transition: all 0.3s;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

#portfolio {
    color: #777777;
    float: right;
    font-size: 20px;
    line-height: 50px;
    padding: 0px 20px 0px 20px;
    border-width: 0px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-style: groove;
    margin-top: 12px;
    transition: all 0.3s;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

#contact {
    color: #777777;
    height: 100%;
    float: right;
    font-size: 20px;
    line-height: 50px;
    padding: 0px 20px 0px 20px;
    border-width: 0px;
    /*     border-left-width: 1px; */
    border-style: groove;
    margin-top: 12px;
    transition: all 0.5s;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

#about:hover, #portfolio:hover, #contact:hover {
    border-style: groove;
    font-size: 30px;
    background-color: #ffffff;
    color: #404040;
}

#article-header {
    padding: 30px 0px 29px 0px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    color: #4aaaa5;
    line-height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    border-style: groove;
    border-width: 0px 0px 1px 0px;
    border-color: #fff8f8f6;
}

img {
    padding: 0px 30px 12px 30px;
    display: inline;
    float: left;
}

#article-content {
    padding: 0px 30px 12px 30px;
}

p {
    color: #777777;
}

#footer1 {
    color: white;
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    margin-top: 20px;
    background-color: #666666;
    text-align: center;
    line-height: 75px;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #4aaaa5;
}

article {
    margin: 0px 0px 0px 0px;
}

.article-holder {
    position: relative;
    top: 104px;
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    border-style: groove;
    border-width: 1px;
    border-color: #fff8f8f6;
}

@media screen and (max-width: 980px) {
    body {
        margin: 0;
    }
    #name {
        font-size: 35px;
        text-align: center;
    }
    #header {
        width: 100%;
        height: 74px;
        margin-bottom: 0px;
    }
    .nav-container {
        width: auto;
        margin: 0 5%;
    }
    article {
        margin: 0px 0px 0px 0px;
    }
    .article-holder {
        top: 0px;
        margin: 12% 5%;
        width: 620px;
        margin-bottom: 70px;
    }
    #about {
        font-size: 30px;
        color: #404040;
    }
    #portfolio {
        font-size: 20px;
        padding-right: 2%;
        padding-left: 2%;
    }
    #contact {
        font-size: 20px;
        padding-right: 0%;
    }
    #about:hover, #portfolio:hover, #contact:hover {
        border-style: groove;
        font-size: 30px;
        background-color: #ffffff;
        color: #404040;
    }
    #footer1 {
        line-height: 70px;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }
    #name {
        font-size: 35px;
        text-align: center;
    }
    #header {
        width: 100%;
        height: 74px;
        margin-bottom: 0px;
    }
    .nav-container {
        width: auto;
        margin: 0 3%;
    }
    article {
        margin: 0px 0px 0px 0px;
    }
    .article-holder {
        top: 0px;
        margin: 16% 3%;
        width: 94%;
        margin-bottom: 70px;
    }
    #about {
        font-size: 30px;
        color: #404040;
    }
    #portfolio {
        font-size: 20px;
        padding-right: 2%;
        padding-left: 2%;
    }
    #contact {
        font-size: 20px;
        padding-right: 0%;
    }
    #about:hover, #portfolio:hover, #contact:hover {
        border-style: groove;
        font-size: 30px;
        background-color: #ffffff;
        color: #404040;
    }
    #footer1 {
        line-height: 70px;
    }
}

@media screen and (max-width: 640px) {
    body {
        margin: 0;
    }
    #name {
        width: 100%;
        font-size: 35px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    #header {
        width: 100%;
        position: static;
        height: 148px;
        margin-bottom: 0px;
    }
    .nav-container {
        width: 100%;
        margin: 0 auto;
    }
    article {
        margin: 0px 0px 0px 0px;
    }
    .article-holder {
        top: 15px;
        margin: 0% 5%;
        width: 90%;
        margin-bottom: 70px;
    }
    #about {
        font-size: 30px;
        text-align: right;
        width: auto;
        padding-right: 3%;
        padding-left: 3%;
        color: #404040;
    }
    #portfolio {
        font-size: 25px;
        text-align: center;
        width: 30%;
        padding-right: 2%;
        padding-left: 2%;
    }
    #contact {
        font-size: 25px;
        text-align: left;
        width: 22%;
        padding-left: 3%;
        padding-right: 8%;
    }
    #portfolio:hover {
        border-style: groove;
        transform: scale(1.1);
        background-color: #ffffff;
        color: #404040;
    }
    #about:hover, #contact:hover {
        border-style: groove;
        font-size: 30px;
        background-color: #ffffff;
        color: #404040;
    }
    #footer1 {
        line-height: 70px;
    }
}